.titulo-main {
  text-align: center;
  padding-top: 50px;
  font-size: 2rem;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.corpo-input {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 1%;
  padding-right: 1%;
}

.corpo-input p {
  margin: 7px 0;
}

/* Personalizando o input FILE */

input[type="file"] {
  display: none;
}

.label-foto {
  padding: 7px 7%;
  text-align: center;
  border-radius: 5px;
  background-color: royalblue;
  cursor: pointer;
}

.svg-foto {
  padding-right: 0.3rem;
}

/* Tamanho responsivo inputs */

input#nome {
  width: auto;
}

input#idade {
  width: 16%;
}

input#telefone {
  width: 50%;
}